{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">logout</button>
</form>

{% else %}

<a href="{% url 'login' %}">login</a>
{%  endif %}
<h1>Minha Lista de Tarefas</h1>
<a href="{% url 'criar-tarefa' %}">Adicionar Tarefa</a>

<table>
  <tr>
    <th>Item</th>
    <th></th>
  </tr>
  {% for tarefa in tarefas %}
  <tr>
    <td>{{tarefa.title}}</td>
    <td><a href="{% url 'tarefa' tarefa.id %}">Detalhes</a></td>
    <td><a href="{% url 'editar-tarefa' tarefa.id %}">Editar</a></td>
    <td><a href="{% url 'deletar-tarefa' tarefa.id %}">Excluir</a></td>
  </tr>
  {% empty %}
  <h3>No items in list</h3>
  {% endfor %}
</table>